Repository CentOS-PaaS-SIG/ci-pipeline: changes, and which Jenkins stages are due for each by the changed paths.
All: jenkins-continuous-infra-slave image build, rpmbuild image build, rsync image build, ostree-compose image build, package-test image build, ostree-boot-image image build

Path conditions:
  jenkins-continuous-infra-slave image build: any of: config/s2i/jenkins/slave/**
  rpmbuild image build: any of: config/Dockerfiles/rpmbuild/**
  rsync image build: any of: config/Dockerfiles/rsync/**
  ostree-compose image build: any of: config/Dockerfiles/ostree_compose/**
  package-test image build: any of: config/Dockerfiles/package-test/**
  ostree-boot-image image build: any of: config/Dockerfiles/ostree-boot-image/**

Force rebuild of 2 containers for prod
  config/Dockerfiles/linchpin-libvirt/Dockerfile
  config/Dockerfiles/ostree-boot-image/Dockerfile
Due: ostree-boot-image image build

Generalize the Pipeline documentation beyond Fedora Atomic Host
  README.md
  ci-pipelinef26.gif
  continuous-infra-logo.png
  stage-pipeline-trigger.gif
Due: none

Truncate result of division
  Jenkinsfile
  src/org/centos/pipeline/PipelineUtils.groovy
Due: none

Push qcow2 image to artifacts every build
  Jenkinsfile
  src/org/centos/pipeline/PipelineUtils.groovy
  vars/pipelineUtils.groovy
Due: none

int not Integer
  Jenkinsfile
  src/org/centos/pipeline/PipelineUtils.groovy
Due: none

Wipe with rsync in a sh script
  Jenkinsfile
  config/Dockerfiles/rsync/Dockerfile
  config/Dockerfiles/rsync/wipe.sh
Due: rsync image build

Add option to rsync without a rsync_path varaible
  Jenkinsfile
  config/Dockerfiles/rsync/Dockerfile
  config/Dockerfiles/rsync/rsync_no_path.sh
Due: rsync image build

foo
  Jenkinsfile
  config/Dockerfiles/rsync/rsync_no_path.sh
Due: rsync image build

Generalize the Pipeline documentation beyond Fedora Atomic Host
  README.md
Due: none

Fix rsync
  Jenkinsfile
  config/Dockerfiles/rsync/rsync_no_path.sh
Due: rsync image build

rsync just one image
  Jenkinsfile
Due: none

Generalize the Pipeline documentation beyond Fedora Atomic Host
  ci-pipelinef26.gif
Due: none

Add missing IRC properties to Jenkinsfile
  Jenkinsfile
Due: none

update
  Jenkinsfile
Due: none

dont use images as parent dir
  Jenkinsfile
  config/Dockerfiles/rsync/wipe.sh
  src/org/centos/pipeline/PipelineUtils.groovy
Due: rsync image build

Update README.md URL for CI tests specification.
  README.md
Due: none

Stop using /home/output
  Jenkinsfile
  config/Dockerfiles/linchpin-libvirt/linchpin_workspace/run_e2e_tests.sh
  config/Dockerfiles/ostree-boot-image/ostree-boot-image.sh
  config/Dockerfiles/ostree-image-compose/ostree-image-compose.sh
  config/Dockerfiles/ostree_compose/ostree-compose.sh
Due: ostree-compose image build, ostree-boot-image image build

Test F27
  Jenkinsfile
Due: none

Remove diagram for Fedora pieces since this is out of date
  README.md
Due: none

Archive logs onto artifacts server
  Jenkinsfile
  config/Dockerfiles/ostree-image-compose/ostree-image-compose.sh
  config/Dockerfiles/ostree_compose/ostree-compose.sh
  config/Dockerfiles/rsync/rsync.sh
Due: rsync image build, ostree-compose image build

Update Dockerfile
  config/Dockerfiles/rpmbuild/Dockerfile
Due: rpmbuild image build

Remove package test from create-containers.sh
  config/s2i/create-containers.sh
Due: none

limit depth to top level files and dirs.
  config/Dockerfiles/ostree-image-compose/ostree-image-compose.sh
Due: none

Fix typo in image-compose Dockerfile
  config/Dockerfiles/ostree-image-compose/Dockerfile
Due: none

Updated binaries of origin test rpms in paas-si-ci repo
  config/Dockerfiles/linchpin-libvirt/Dockerfile
Due: none

Remove extra \
  config/Dockerfiles/rpmbuild/Dockerfile
Due: rpmbuild image build

clean up that was lost in rebases
  config/Dockerfiles/ostree-image-compose/ostree-image-compose.sh
Due: none

Always push a .qcow2 image to artifacts
  Jenkinsfile
  config/Dockerfiles/linchpin-libvirt/linchpin_workspace/run_e2e_tests.sh
  config/Dockerfiles/ostree-boot-image/ostree-boot-image.sh
  config/Dockerfiles/ostree-image-compose/ostree-image-compose.sh
  config/Dockerfiles/singlehost-test/integration-test.sh
  config/Dockerfiles/singlehost-test/package-test.sh
Due: ostree-boot-image image build

Added paas7-openshift-origin36-testing.repo to container
  config/Dockerfiles/linchpin-libvirt/Dockerfile
  config/Dockerfiles/linchpin-libvirt/paas7-openshift-origin36-testing.repo
Due: none

Ensure container templates present before builds
  JenkinsfileStageTrigger
  config/s2i/create-containers.sh
  config/s2i/rpmbuild/create-rpmbuild-bc.sh
  src/org/centos/pipeline/PipelineUtils.groovy
  vars/pipelineUtils.groovy
Due: none

UPDATE Jenkinsfile to surround stages with withEnv
  Jenkinsfile
  src/org/centos/pipeline/PipelineUtils.groovy
  vars/pipelineUtils.groovy
Due: none

WIP: dev_setup playbooks and README.md
  config/s2i/jenkins/master/configuration/hudson.plugins.ircbot.IrcPublisher.xml
  dev_setup/README.md
  dev_setup/playbooks/group_vars/all/global.yml
  dev_setup/playbooks/roles/containers/defaults/main.yml
  dev_setup/playbooks/roles/containers/files/pipeline-scc.yaml
  dev_setup/playbooks/roles/containers/tasks/add_scc.yml
  dev_setup/playbooks/roles/containers/tasks/main.yml
  dev_setup/playbooks/roles/jenkins/tasks/jenkins_infra.yml
  dev_setup/playbooks/roles/jenkins/tasks/main.yml
  dev_setup/playbooks/roles/minishift/defaults/main.yml
  dev_setup/playbooks/roles/minishift/tasks/init_minishift.yml
  dev_setup/playbooks/roles/minishift/tasks/install_minishift.yml
  dev_setup/playbooks/roles/minishift/tasks/main.yml
  dev_setup/playbooks/roles/pipeline/defaults/main.yml
  dev_setup/playbooks/roles/pipeline/tasks/clone_pipeline.yml
  dev_setup/playbooks/roles/pipeline/tasks/main.yml
  dev_setup/playbooks/roles/pipeline/tasks/start_mcluster.yml
  dev_setup/playbooks/roles/prereqs/tasks/install_kvm_plugin.yml
  dev_setup/playbooks/roles/prereqs/tasks/install_virtual_reqs.yml
  dev_setup/playbooks/roles/prereqs/tasks/main.yml
  dev_setup/playbooks/roles/prereqs/tasks/nested_virt.yml
  dev_setup/playbooks/setup.yml
  dev_setup/playbooks/setup_containers.yml
Due: none

Add container to build cloud images
  config/Dockerfiles/cloud-image-compose/Dockerfile
  config/Dockerfiles/cloud-image-compose/atomic7-testing.repo
  config/Dockerfiles/cloud-image-compose/cloud-image-compose.sh
  config/Dockerfiles/cloud-image-compose/default.xml
  config/Dockerfiles/cloud-image-compose/epel-release-7-11.noarch.rpm
  config/Dockerfiles/cloud-image-compose/walters-buildtools.repo
  config/s2i/cloud-image-compose/cloud-image-compose-buildconfig-template.yaml
Due: none

FedMsg Relay Pod for dev env
  config/Dockerfiles/fedmsg-relay/Dockerfile
  config/Dockerfiles/fedmsg-relay/endpoints.py
  config/Dockerfiles/fedmsg-relay/entrypoint.sh
  config/Dockerfiles/fedmsg-relay/relay.py
  config/Dockerfiles/fedmsg-relay/ssl.py
  config/s2i/fedmsg-relay/create-fedmsg-relay.sh
  config/s2i/fedmsg-relay/fedmsg-relay-template.yaml
  config/s2i/jenkins/continuous-infra-create-openshift-project
  config/s2i/jenkins/continuous-infra-slave-template.yaml
  config/s2i/jenkins/jenkins-master-template.yaml
  config/s2i/jenkins/master/configuration/init.groovy
  config/s2i/jenkins/master/configuration/jobs/fedmsg-devel-receiver-test/config.xml
  config/s2i/jenkins/master/configuration/jobs/fedmsg-devel-sender-test/config.xml
Due: none

update plugins
  config/s2i/jenkins/master/plugins.txt
Due: none

WIP: dev_setup playbooks and README.md
  config/s2i/create-containers.sh
  config/s2i/fedmsg-relay/create-fedmsg-relay.sh
  config/s2i/fedmsg-relay/fedmsg-relay-buildconfig-template.yaml
  config/s2i/jenkins/jenkins-continuous-infra-slave-buildconfig-template.yaml
  config/s2i/jenkins/jenkins-persistent-buildconfig-template.yaml
  config/s2i/jenkins/master/configuration/org.jenkinsci.plugins.workflow.libs.GlobalLibraries.xml
  config/s2i/linchpin_libvirt/linchpin_libvirt-buildconfig-template.yaml
  dev_setup/README.md
  dev_setup/playbooks/group_vars/all/global.yml
  dev_setup/playbooks/roles/containers/defaults/main.yml
  dev_setup/playbooks/roles/containers/tasks/add_scc.yml
  dev_setup/playbooks/roles/containers/tasks/main.yml
  dev_setup/playbooks/roles/jenkins/tasks/jenkins_infra.yml
  dev_setup/playbooks/roles/jenkins/tasks/main.yml
  dev_setup/playbooks/roles/minishift/defaults/main.yml
  dev_setup/playbooks/roles/minishift/tasks/init_minishift.yml
  dev_setup/playbooks/roles/minishift/tasks/install_minishift.yml
  dev_setup/playbooks/roles/minishift/tasks/main.yml
  dev_setup/playbooks/roles/minishift/tasks/set_minishift_path.yml
  dev_setup/playbooks/roles/pipeline/defaults/main.yml
  dev_setup/playbooks/roles/pipeline/files/pipeline-scc.yaml
  dev_setup/playbooks/roles/pipeline/tasks/add_scc.yml
  dev_setup/playbooks/roles/pipeline/tasks/clone_pipeline.yml
  dev_setup/playbooks/roles/pipeline/tasks/get_set_project.yml
  dev_setup/playbooks/roles/pipeline/tasks/login_to_cluster.yml
  dev_setup/playbooks/roles/pipeline/tasks/main.yml
  dev_setup/playbooks/roles/pipeline/tasks/query_setup_cluster.yml
  dev_setup/playbooks/roles/pipeline/tasks/set_oc_client.yml
  dev_setup/playbooks/roles/pipeline/tasks/setup_containers.yml
  dev_setup/playbooks/roles/pipeline/tasks/setup_fedmsg_relay.yml
  dev_setup/playbooks/roles/pipeline/tasks/setup_jenkins_infra.yml
  dev_setup/playbooks/roles/pipeline/tasks/start_mcluster.yml
  dev_setup/playbooks/setup.yml
  dev_setup/playbooks/setup_containers.yml
Due: none

WIP: dev_setup playbooks and README.md
  dev_setup/README.md
  dev_setup/playbooks/roles/minishift/tasks/install_minishift.yml
  dev_setup/playbooks/roles/minishift/tasks/main.yml
Due: none
